






<div class="container">
    <div class="row">
                            <%= link_to ' Listado Categoria <i class="fa fa-list  fa-1x" aria-hidden="true"></i>'.html_safe, categories_path,class: 'btn btn-default', title:"Volver"  %> 
                      
                           <%= link_to 'Editar Categoria <i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i>
'.html_safe, edit_category_path(@category),class: 'btn btn-default', title:"Editar"  %>                            
         

  </div>

</div>
<div class="container">
	
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
  </div>
</div>
</div>

</div>

